@charset "utf-8";

html,body{
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino kaku Gothic Pro','メイリオ','Meiryo','MS Pゴシック','MS PGothic',sans-serif;
}

#contWrap {
    background-color:#FF9900;
}
#name {
    width:100%;
}
h1 {
    color:white;
}

