@charset "utf-8";

html,body{
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino kaku Gothic Pro','メイリオ','Meiryo','MS Pゴシック','MS PGothic',sans-serif;
}

#contWrap {
    background-color:#FF9900;
}
#name {
    width:100%;

}
.center {
    position: rerative;
    margin-top: 20%;
    margin-left: 20%;
    top: 50%;
    left: 50%;
}
.btn-center {
    position: rerative;
    margin-top: 0%;
    margin-left: 35%;
    top: 50%;
    left: 50%;
}
h1 {
    color:black;
}

