@charset "utf-8";

html,body{
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino kaku Gothic Pro','メイリオ','Meiryo','MS Pゴシック','MS PGothic',sans-serif;
    background-color: #FFB570;
}

.well {
    background-color: #FFB570;
    border-color: #FFB570;
}
#name {
    width:100%;
}
.center {
    position: rerative;
    margin-top: 0%;
    margin-left: 20%;
    top: 50%;
    left: 50%;
}
.btn-center {
    position: rerative;
    margin-top: 10%;
    margin-left: 35%;
    top: 50%;
    left: 50%;
    background-color: #7EA6E0;
    color: #FFFFFF;
}
h1 {
    color:white;
}

